
logs/1111/aoa_raw.txt
logs/1114/A00-A11_phasediff_5cal_self.txt
logs/1114/A00-A11_phasediff_5cal_self.txt
logs/1114/A00-A11_AoA_5cal_self.txt
logs/1114/A00-A11_AoA_raw.txt
logs/1114/A00-A11_AoA_5cal_self.txt
logs/1114/A12-A23_AoA_5cal_self.txt
logs/1114/A12-A23_AoA_raw.txt
logs/1116/A00-A11_AoA_5cal.txt
*.txt
*.txt
logs/1114/A00-A11_phasediff_5cal_self.txt
logs/1114/A12-A23_AoA_5cal_self.txt
logs/1114/A00-A11_AoA_5cal_self.txt
